#############################################
#           init.insmod.cfg                 #
# This file contains kernel modules to load #
# at init time by init.insmod.sh script     #
#############################################

# The Crux kernel links audio drivers into Image-dtb through sm8150auto.conf.
# Keep DSP startup below; those built-in drivers still require boot requests.

# All modules loaded
setprop|vendor.all.modules.ready

# Boot devices
enable|/sys/kernel/boot_adsp/boot
enable|/sys/kernel/boot_cdsp/boot
enable|/sys/kernel/boot_slpi/boot

# All devices enabled
setprop|vendor.all.devices.ready
